node_modules/
dist/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.env
/.env.*
coverage/
*.tmp
*.log
*.cache
/.vscode/
/.idea/
/.trae/
/public/*.map
/SPUDS-Inventory-System/
/.vercel/
/.netlify/
data.sqlite
/SPUDS-Inventory-System-1/
SPUDS-Inventory-System-backup/
